# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production
dist/
client/dist/
dist-ssr
.vite

# Env files
.env
.env.local
server/.env
client/.env

# Editor/System
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sln

