.space-page {
  display: flex;
  height: 100vh;
  width: 100%;
}

.space-page.has-sidebar {
  flex-direction: row;
}

.space-page.full-map {
  flex-direction: column;
  overflow-y: auto;
}

.space-content-full {
  flex-grow: 1;
  width: 100%;
}

.space-content-split {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background: var(--bg-dark);
}
